<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/styles/base.css">
	<link rel="stylesheet" type="text/css" href="/editormd/css/editormd.min.css">
	<link rel="stylesheet" type="text/css" href="/editormd/lib/codemirror/codemirror.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/scripts/react.js"></script>
<script type="text/javascript" src="/scripts/antd.js"></script>
<script type="text/javascript" src="/scripts/common.js"></script>
<script type="text/javascript" src="/scripts/modules.js"></script>
<script type="text/javascript" src="/editormd/dist/codemirror.js"></script>
<script type="text/javascript" src="/editormd/dist/hint.js"></script>
<script type="text/javascript" src="/editormd/dist/mdlib.js"></script>
<script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>
