@charset "UTF-8";
body, div, aside, section, nav, article, ul, ol, li, dl, dd, dt, p, a {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  border: 0;
  font: 12px '微软雅黑', 'Microsoft Yahei', Helvetica Neue, Hiragino Sans GB, '宋体', 'simsun', '黑体', Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'iconfont';
  src: url("../../iconfont/iconfont.eot");
  /* IE9*/
  src: url("../../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../../iconfont/iconfont.woff") format("woff"), url("../../iconfont/iconfont.ttf") format("truetype"), url("../../iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e629";
}

.icon-password:before {
  content: "\e62d";
}

.icon-password-again:before {
  content: "\e62e";
}

.icon-user-manage:before {
  content: "\e62a";
}

.base-btn {
  font-size: 12px;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: #293038;
  border-radius: 2px;
  border: 1px solid #5387e1;
  cursor: pointer;
  border-radius: 5px;
}

.base-btn:hover {
  background: #000;
  border: 1px solid #4c7ccf;
}

.dialog-text {
  width: 486px;
  height: 30px;
  padding-left: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 5px;
  vertical-align: middle;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09c;
  background-image: radial-gradient(#09c, #293038);
}

#app {
  position: relative;
}

.base-btn:hover {
  background: #000;
  border: 1px solid #4c7ccf;
}

.m-login {
  width: 300px;
  padding: 30px 50px 28px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
}

.m-login .ui-form {
  margin-top: -24px;
}

.m-login .ui-item {
  display: flex;
  width: 300px;
  height: 40px;
  margin-top: 20px;
}

.m-login .ui-header {
  height: 24px;
  padding-bottom: 4px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.m-login .ui-item .ui-label {
  display: inline-block;
  width: 50px;
  height: 40px;
  line-height: 40px;
  background: #aaabab;
  text-align: center;
  color: #fff;
}

.m-login .ui-item .ui-input {
  display: inline-block;
  width: 250px;
  height: 40px;
  padding: 0;
  padding-left: 8px;
  border: none;
}

.m-login .ui-submit {
  width: 234px;
  height: 40px;
  line-height: 40px;
  background: #0ae;
  letter-spacing: 50px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 60px;
}

.m-login .ui-submit:hover {
  background-color: #00a3d2;
  border-color: #00a3d2;
}

.m-login .ui-error {
  height: 30px;
  background: #FDEEE9;
  font-size: 13px;
  letter-spacing: 1px;
  color: #4D4D4D;
}

.m-login .ui-error .ui-text {
  height: 30px;
  line-height: 30px;
}

.m-login .ui-footer {
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  font-size: 13px;
  color: #fff;
}

.m-login .ui-text {
  flex: 1;
  padding-left: 10px;
}

.m-login .ui-reg {
  width: 100px;
  padding-right: 16px;
  color: #0ae;
  text-align: right;
  cursor: pointer;
}

.m-login .ui-reg:hover {
  color: #08c;
}
