@charset "utf-8";
.content-bd .detail-wrapper {
    display: flex;
    width: 100%;
    background: #474747;
    overflow: auto;
}
.content-bd .detail-wrapper .detail {
    width: 980px;
    padding: 20px;
    margin: 0 auto;
    background: #f9f9f5;
}
.content-bd .edit-detail {
    padding: 0 20px;
}