@charset "utf-8";
.widget-menu-wrapper {
	position: absolute;
	left: 0;
	top: 0;
}
.widget-menu {
	position: absolute;
	z-index: 999;
	display: none;
	list-style: none;
	width: 120px;
	background: #fff;
    border: 1px solid #b3d6ff;
    color: #242424;
}
.widget-menu .icon-wrap {
	display: inline-block;
	width: 22px;
	height: 22px;
}
.widget-menu li {
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 10px;
	cursor: default;
}
.widget-menu li:hover {
	background: #e1e6ff;
}
.widget-menu li .menu-text {
	margin-left: 5px;
	display: inline-block;
    height: 30px;
    width: 81px;
}
.widget-menu li .menu-mask {
	position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    width: 118px;
    height: 30px;
    z-index: 5;
}
.widget-menu .icon-add-folder, .widget-menu .icon-add-file {
	color: #47a447;
}
.widget-menu .icon-rename {
	color: #5bc0de;
}
.widget-menu .icon-delete {
	color: #d9534f;
}
.widget-menu .icon-move, .widget-menu .icon-upload {
	color: #3276b1;
}


