
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-delete:before { content: "\e600"; }
.icon-user:before { content: "\e629"; }
.icon-addfile:before { content: "\e601"; }
.icon-shangchuanwenjian:before { content: "\e602"; }
.icon-user1:before { content: "\e62a"; }
.icon-code:before { content: "\e603"; }
.icon-user2:before { content: "\e62b"; }
.icon-iconfontword:before { content: "\e604"; }
.icon-sou:before { content: "\e605"; }
.icon-code1:before { content: "\e606"; }
.icon-delete1:before { content: "\e607"; }
.icon-down:before { content: "\e608"; }
.icon-yidong:before { content: "\e609"; }
.icon-edit:before { content: "\e60a"; }
.icon-filecodeo:before { content: "\e60b"; }
.icon-down1:before { content: "\e60c"; }
.icon-file:before { content: "\e60d"; }
.icon-iconwenjianshangchuan:before { content: "\e60e"; }
.icon-wenjianshangchuan:before { content: "\e60f"; }
.icon-edit1:before { content: "\e610"; }
.icon-like:before { content: "\e611"; }
.icon-copy:before { content: "\e612"; }
.icon-delete2:before { content: "\e613"; }
.icon-folderadd:before { content: "\e614"; }
.icon-wendang:before { content: "\e615"; }
.icon-down2:before { content: "\e616"; }
.icon-md:before { content: "\e617"; }
.icon-iconfont90:before { content: "\e618"; }
.icon-wenjianxiangguanyemiantubiao02:before { content: "\e619"; }
.icon-soucang:before { content: "\e61a"; }
.icon-wenjiantianjia:before { content: "\e61b"; }
.icon-sou1:before { content: "\e61c"; }
.icon-wenjianzhongmingming:before { content: "\e61d"; }
.icon-uploadcode:before { content: "\e61e"; }
.icon-soucang1:before { content: "\e61f"; }
.icon-filepdf:before { content: "\e620"; }
.icon-delete2:before { content: "\e621"; }
.icon-xianglike72:before { content: "\e622"; }
.icon-socialmarkdown:before { content: "\e623"; }
.icon-icondelete:before { content: "\e624"; }
.icon-password:before { content: "\e62c"; }
.icon-zhongmingming16px:before { content: "\e625"; }
.icon-dianbozhibov1213:before { content: "\e626"; }
.icon-like1:before { content: "\e627"; }
.icon-password1:before { content: "\e62d"; }
.icon-filecodeo1:before { content: "\e628"; }
